.tam-container {
    background-color: rgb(221, 221, 221);
    width: 32.5%;
    min-width: 250px;
    margin-bottom: 1.5rem;
    padding: 8px;
    border-radius: 10px;
}

.tam-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tam-res-container {
    background-color: rgb(221, 221, 221);
    padding: 8px;
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
    min-width: 700px;
}

.pt-titles {
    font-size: 1.1rem;
}